<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).autobackup</string>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).leavenow</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>$(MISE_BUNDLE_PREFIX).mise</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mise</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PDF</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
			</array>
		</dict>
	</array>
	<key>NSAlarmKitUsageDescription</key>
	<string>mise rings your wake-up alarms, even in silent mode.</string>
	<key>MiseAppGroup</key>
	<string>group.$(MISE_BUNDLE_PREFIX).mise</string>
	<key>MiseKeychainGroup</key>
	<string>$(AppIdentifierPrefix)$(MISE_BUNDLE_PREFIX).mise.shared</string>
</dict>
</plist>
